aside {
    width: 30%;
    background-color: #1A1818;
}

.menu-item {
    font-size: 40px;
    color: #F5F5F5;
    margin-top: 10%;
    font-weight: normal;
}

li {
    display: inline-block;
    list-style-type: none;
    margin: 3% 25%;
}

.selected-category {
    border-bottom: 2px solid #5789FF;
    font-style: italic;
}