form {
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: 45%;
}

input {
    font-size: 25px;
    border-radius: 10px;
    align-items: right;
    justify-content: flex-end;
}

.search-form-button {
    margin-left: 2%;
    background-color: #5789FF;
    border-radius: 5px;
    font-size: 17px;
    text-transform: uppercase;
    padding: 2%;
    color: black;
    font-weight: bold;
    border: 0;
}

.hidden {
    display: none;
}