form {
    display: flex;
    height: 100%;
    margin-left: 45%;
    width: 100%;
}

input {
    align-items: right;
    border-radius: 10px;
    font-size: 25px;
    justify-content: flex-end;
}

.search-form-button {
    background-color: #5789FF;
    border-radius: 5px;
    border: 0;
    color: black;
    font-size: 17px;
    font-weight: bold;
    margin-left: 2%;
    padding: 2%;
    text-transform: uppercase;
}